<ul>
  <li>
    Name:
    <input type="text" name="student[name]" value="<%= @student.name %>">
  </li>
  <li>
    Age:
    <input type="number" name="student[age]" value="<%= @student.age %>">
  </li>
  <li>
    Pokemon:
    <input type="text" name="student[pokemon]" value="<%= @student.pokemon %>">
  </li>
  <li>
    Favorite Food:
    <!-- <input type="text" name="student[food_id]" value="<%= @student.food_id %>"> -->
    <select name="student[food_id]">
      <% Food.all.each do |food| %>
        <option <%= food.id == @student.food_id ? "selected" : "" %> value="<%= food.id %>"><%= food.name %></option>
      <% end %>
    </select>
  </li>







</ul>
